/* ===== ANIMATIONS ===== */

/* fade naik */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* fade biasa */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* daun melayang */
@keyframes floatSlow {
  0% { transform: translate(-50%, -50%) translateY(0); }
  50% { transform: translate(-50%, -50%) translateY(-10px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

/* bunga masuk */
@keyframes zoomFade {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

 