@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
@media (max-width: 768px) {
  .borderd {
    min-height: 40vh;   /* HP & tablet */
    background-position: center top;
  }
}
