/* ===================== */
/* DEFAULT = iPHONE / small screen */
/* ===================== */
body {
  touch-action: pan-x pan-y;
  overscroll-behavior: none;
  margin: 0;
  background-image: url("/static/images/baground.jpeg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  
}

.bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transform: translateZ(0);
}

.bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.daun-img {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5d62c1;
  width: 320px;
  z-index: 2;
}

.bunga { position: absolute; width: 260px; z-index: 5;  }
.tl { top: -3.2%; left: -7%; transform: scaleX(1.3) scaleY(1.4); }
.tr { top: -13.2%; right: -5%; transform: scaleX(1.0) scaleY(1.0) rotate(2deg); }
.bl { bottom: -10%; left: -5%; transform: scaleX(1.0) scaleY(1.2) rotate(180deg); }
.br { bottom: -10%;right: -5%; transform: scaleX(-1) scaleY(1.2) rotate(-180deg); }

.aktor-prempuan,
.aktor-laki {
  position: absolute;
  bottom: 10%;
  width: 200px;
  z-index: 4;
}
.aktor-laki { left: 60%; transform: translateX(-100%); top: 68%; }
.aktor-prempuan { left: 45%; transform: translateX(0); top: 65%; margin-left: -20px; }

.bg-container h1{
  position: absolute;
  z-index: 6;
  color: rgb(3, 7, 93);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  font-size: 2.5rem;
  line-height: 1.9rem;
  font-family: "Twinkle Star", cursive;
  font-weight: 550;
  font-style: normal;

}
.bg-container h2 {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  color: rgb(3, 7, 93);
  font-size: 1.1rem;
  line-height: 1.5rem;
  z-index: 6;
  font-family: "Twinkle Star", cursive;
  font-style: normal;
}

.menu-box {
  position: absolute;
  bottom: 62%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  z-index: 10;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.menu-box li {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid #5d62c1;
  box-shadow: 0 0 10px #212eba;
  transition: all 0.3s ease;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  z-index: 6;
}
.menu-box li::before {
  content: '';
  position: absolute;
  top: -5px; left: -5px; right: -5px; bottom: -5px;
  border-radius: 13px;
  border: 2px solid #00f0ff;
  filter: blur(8px);
  opacity: 0.8;
  z-index: -1;
  pointer-events: none;
}
.menu-box li a {
  color: rgb(62, 97, 167);
  text-decoration: none;
  font-weight: 900;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Cookie", cursive;
  font-style: normal;
}
.menu-box li:hover {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 15px #00f0ff, 0 0 30px #00f0ff, 0 0 45px #00f0ff;
  transform: translateY(-5px) scale(1.05);
}
.menu-box li:active,
.menu-box li:focus {
  box-shadow: 0 6px 25px #00f0ff, 0 0 50px #00f0ff, 0 0 70px #00f0ff;
  transform: translateY(-5px) scale(1.05);
}
.gold {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 6;
}

.gold h2 {
  color:#D4AF37;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5rem;
  font-family: "Cookie", cursive;
  font-weight: 900;
  font-style: normal;
  
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 1.4s;
}
.namaprempuan,
.namalaki {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  font-size: 2rem;
  color: rgb(3, 7, 93);
  text-align: center;
   max-width: 90%;
  white-space: nowrap;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  
}

/* perempuan */
.namaprempuan {
  top: 43%;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 1.8s;
}

/* laki */
.namalaki {
  top: 55%;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  animation-delay: 2.2s;
}


